
body, html {
    height: 100%;
}

body {
    background-image: url("forest.jpg");
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 1%;
}


h1 {
    font-size: 72pt;
    font-weight: bold;
    color: #313833;
    text-shadow: -2px 0 gray, 0 2px gray, 2px 0 gray, 0 -2px gray;
    text-align: center;
    padding-top: 50px
}

h2 {
    font-size: 48pt;
    color: black;
    text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
    padding-left: 10%
}

.btn-primary {
    background-color: #577eab !important;
    color: rgb(220, 220, 220)
}

a {
    font-size: 28pt !important;
}

#navgroup {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}