
body, html {
    height: 100%;
}

body {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('forest.jpg');
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 1%;
}


h1 {
    font-size: 72pt;
    font-weight: bold;
    color: #313833;
    text-shadow: -4px 0 gray, 0 4px gray, 4px 0 gray, 0 -4px gray;
    text-align: center;
    padding-top: 50px
}

h2 {
    font-size: 48pt;
    color: black;
    text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
    padding-left: 10%
}

.btn-primary {
    background-color: #577eab !important;
    opacity: .75;
}

a {
    font-size: 28pt !important;
    color: white !important;
}

#navparent {
    min-height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}